---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'ITIK.xyz | Trusted Blockchains Validator',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
     
    ]}
  
  >
     <Fragment slot="title">

      <script src="https://unpkg.com/@lottiefiles/dotlottie-wc@0.7.1/dist/dotlottie-wc.js" type="module"></script>
<dotlottie-wc src="https://lottie.host/8f406cee-b6c1-4247-a1d0-81984b9bd8cc/cBvZfZXi8w.lottie" speed="1" style="width: 100%; height: 110px" mode="forward" loop autoplay></dotlottie-wc>

      Secure<span class="hidden xl:inline"></span>
      <span class="text-accent dark:text-white"> Staking</span> 
    </Fragment>
     <Fragment slot="subtitle">
     <span class="hidden sm:inline"></span>
      <span class="text-accent dark:text-white"> Staking Platform Services Trusted by Institutions</span> 
   
      </Fragment>

    <Fragment slot="subtitle">
       <CallToAction
    actions={[
      {
        text: 'primary',
        text: 'Staking',
        href: 'https://github.com/arthelokyo/astrowind',
        target: '_blank',
        icon: 'tabler:download',
      },
      {
        text: 'primary',
        text: 'Exchange',
        href: 'https://github.com/arthelokyo/astrowind',
        target: '_blank',
        icon: 'tabler:download',
      },
      {
        text: 'primary',
        text: 'Wallet',
        href: 'https://github.com/arthelokyo/astrowind',
        target: '_blank',
        icon: 'tabler:download',
      },
      {
        text: 'primary',
        text: 'Bridge',
        href: 'https://github.com/arthelokyo/astrowind',
        target: '_blank',
        icon: 'tabler:download',
      },
    ]}
  >
    <Fragment slot="title">
      <script defer src="https://www.livecoinwatch.com/static/lcw-widget.js"></script> <div class="livecoinwatch-widget-5" lcw-base="USD" lcw-color-tx="#0693e5" lcw-marquee-1="coins" lcw-marquee-2="movers" lcw-marquee-items="30" ></div>
      <!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/markets/" rel="noopener nofollow" target="_blank"><span class="blue-text"></span></a><span class="trademark"> </span></div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-market-overview.js" async>
  {
  "colorTheme": "dark",
  "dateRange": "1D",
  "locale": "en",
  "largeChartUrl": "",
  "isTransparent": true,
  "showFloatingTooltip": false,
  "plotLineColorGrowing": "rgba(34, 171, 148, 1)",
  "plotLineColorFalling": "rgba(178, 40, 51, 1)",
  "gridLineColor": "rgba(255, 255, 255, 0)",
  "scaleFontColor": "#DBDBDB",
  "belowLineFillColorGrowing": "rgba(41, 98, 255, 0.12)",
  "belowLineFillColorFalling": "rgba(41, 98, 255, 0.12)",
  "belowLineFillColorGrowingBottom": "rgba(41, 98, 255, 0)",
  "belowLineFillColorFallingBottom": "rgba(41, 98, 255, 0)",
  "symbolActiveColor": "rgba(41, 98, 255, 0)",
  "tabs": [
    {
      "title": "Validator Platforms",
      "symbols": [
        {
          "s": "CRYPTO:BTCUSD",
          "d": "",
          "base-currency-logoid": "crypto/XTVCBTC",
          "currency-logoid": "country/US"
        },
        {
          "s": "COINBASE:ETHUSD",
          "d": "",
          "base-currency-logoid": "crypto/XTVCETH",
          "currency-logoid": "country/US"
        },
        {
          "s": "COINBASE:SOLUSD",
          "d": "",
          "base-currency-logoid": "crypto/XTVCSOL",
          "currency-logoid": "country/US"
        },
        {
          "s": "CRYPTOCAP:TON",
          "d": "",
          "logoid": "crypto/XTVCTON",
          "currency-logoid": "country/US"
        },
        {
          "s": "COINBASE:MONUSD",
          "d": "",
          "base-currency-logoid": "crypto/XTVCMONAD",
          "currency-logoid": "country/US"
        },
        {
          "s": "COINBASE:ALGOUSD",
          "d": "",
          "base-currency-logoid": "crypto/XTVCALGO",
          "currency-logoid": "country/US"
        },
        {
          "s": "COINBASE:APTUSD",
          "d": "",
          "base-currency-logoid": "crypto/XTVCAPTO",
          "currency-logoid": "country/US"
        },
        {
          "s": "CRYPTOCAP:ATOM",
          "d": "",
          "logoid": "crypto/XTVCATOM",
          "currency-logoid": "country/US"
        },
        {
          "s": "COINBASE:AVAXUSD",
          "d": "",
          "base-currency-logoid": "crypto/XTVCAVAX",
          "currency-logoid": "country/US"
        },
        {
          "s": "OKX:BABYUSD",
          "d": "",
          "base-currency-logoid": "crypto/XTVCBABYL",
          "currency-logoid": "country/US"
        },
        {
          "s": "COINBASE:ADAUSD",
          "d": "",
          "base-currency-logoid": "crypto/XTVCADA",
          "currency-logoid": "country/US"
        },
        {
          "s": "COINBASE:TIAUSD",
          "d": "",
          "base-currency-logoid": "crypto/XTVCTIA2",
          "currency-logoid": "country/US"
        },
        {
          "s": "COINBASE:CROUSD",
          "d": "",
          "base-currency-logoid": "crypto/XTVCCRO",
          "currency-logoid": "country/US"
        },
        {
          "s": "COINBASE:COSMOSDYDXUSDC",
          "d": "",
          "base-currency-logoid": "crypto/XTVCDYDXN",
          "currency-logoid": "crypto/XTVCUSDC"
        },
        {
          "s": "COINBASE:FETUSD",
          "d": "",
          "base-currency-logoid": "crypto/XTVCFET",
          "currency-logoid": "country/US"
        },
        {
          "s": "COINBASE:FLRUSD",
          "d": "",
          "base-currency-logoid": "crypto/XTVCFLR",
          "currency-logoid": "country/US"
        },
        {
          "s": "COINBASE:INJUSD",
          "d": "",
          "base-currency-logoid": "crypto/XTVCINJ",
          "currency-logoid": "country/US"
        },
        {
          "s": "CRYPTOCAP:IOTA",
          "d": "",
          "logoid": "crypto/XTVCIOTA",
          "currency-logoid": "country/US"
        },
        {
          "s": "COINBASE:BARDUSDC",
          "d": "",
          "base-currency-logoid": "crypto/XTVCBARDL",
          "currency-logoid": "crypto/XTVCUSDC"
        },
        {
          "s": "COINBASE:NEARUSD",
          "d": "",
          "base-currency-logoid": "crypto/XTVCNEAR",
          "currency-logoid": "country/US"
        },
        {
          "s": "COINBASE:POLUSD",
          "d": "",
          "base-currency-logoid": "crypto/XTVCPOLYG",
          "currency-logoid": "country/US"
        }
      ],
      "originalTitle": "Indices"
    }
  ],
  "support_host": "https://www.tradingview.com",
  "backgroundColor": "#0f0f0f",
  "width": "100%",
  "height": "460",
  "showSymbolLogo": true,
  "showChart": true
}
  </script>
</div>
<!-- TradingView Widget END -->
      <br class="block sm:hidden" /><span class="sm:whitespace-nowrap"></span>
    </Fragment>

    <Fragment slot="subtitle">
      Experience secure and low-cost Proof of Stake (PoS) services with us. Rely on us to safeguard your assets while ensuring your control in.
    </Fragment>
  </CallToAction>
  
      <span class="hidden sm:inline">
        <span class="font-semibold">A</span> is 
        A.</span
      >
      <span class="block mb-1 sm:hidden font-bold text-blue-600">Enterprise-grade validator.</span>
      infrastructure for Proof-of-Stake networks. Stake your assets with confidence and earn consistent rewards.
    </Fragment>
  </Hero>

  
</Layout>
